<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <mat-label>post title</mat-label>
      <input matInput
      type="text"
      name="title"
      [ngModel]="post?.title"
      required
      minlength="3"
      #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title with more than 3 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>post content</mat-label>
    <textarea matInput
    rows="4"
    name="content"
    [ngModel]="post?.content"
    required
    #textArea="ngModel">
  </textarea>
  <mat-error *ngIf="textArea.invalid">Please enter post content</mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="accent">Save Post</button>
    </mat-card-actions>
  </form>
</mat-card>
